# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
venv-api/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# OS-specific
.DS_Store

# Pycharm Project settings
.idea/

node_modules/

